@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serf;
}
body{
    width:100%;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(45deg,#0a0a0a,#3a4452);

}
.calculator{
    border:1px solid #3064cd;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-sizing: 0px 3px 15px rgba(32, 91, 210, 0.5);
}
input{
    width: 100%;
    border:none;
    padding: 24px;
    margin:10px;
    background: transparent;
    box-sizing: 0px 3px 15px rgbs(84, 84, 84, 0.1);
    font-size: 40px;
    text-align:right;
    cursor: pointer;
    color:#ffffff;
}
input::placeholder{
    color: rgb(244, 152, 32);
}
button{
    border: none;
    width: 120px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color:rgb(5, 246, 246);
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255,0.1);
    cursor: pointer;
}
.equalBtn{
    background-color: rgba(79, 247, 42, 0.552);
}
.operator{
    color: rgb(200, 26, 78);
}